<head>
  <link rel="stylesheet" type="text/css" href="/css/networks/index.css">
</head>

<body>
  <h2 class="logo">Cabal</h2>
  <div class="profile-info">
    <img src="#" alt="profile pic">
    <h1>User profile name</h1>
  </div>
  <div class="announcements">
    <ul>
      <li><a href="#">Welcome friends!</a></li>
      <li><a href="#">Taking a trip to the beach this weekend!</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
    </ul>
  </div>


  <div class="messenger">
    <ul>
      <li><%= User.first.fname %> <%= User.first.lname %></li>
      <li><%= User.second.fname %> <%= User.second.lname %></li>
      <li><%= User.third.fname %> <%= User.third.lname %></li>
      <li><%= User.fourth.fname %> <%= User.fourth.lname %></li>
      <li><%= User.fifth.fname %> <%= User.fifth.lname %></li>
    </ul>
  </div>



</body>